.header-topbar {
  height: 80px;
}

.custom-top-menu {
  align-items: start;
  display: flex;
  gap: 2rem;

  .nav-link {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.25rem 0;
    position: relative;
    text-decoration: none;

    &.active {
      color: #b40020;
      font-weight: 600;
    }

    &:hover {
      color: #b40020;
      text-decoration: none;
    }
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 1000;
  }

  .custom-top-menu {
    align-items: center !important;
    flex-direction: column !important;
  }

  .nav-item {
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
  }
}

.navbar-toggler {
  align-items: center;
  border: 1px solid gray;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: none;
  display: flex;
  height: 40px;
  justify-content: center;
  outline: none;
  padding: 8px;
  position: relative;
  width: 45px;

  &:hover {
    border: 1px solid #bb0a21;
    outline: none;
  }
  &:focus {
    border: 1px solid #bb0a21;
    outline: none;
  }
  &:active {
    border: 2px solid #bb0a21;
    outline: none;
  }
  .navbar-toggler-icon {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.hamburger-lines {
  display: block;
  display: flex;
  flex-direction: column;
  height: 22px;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.navbar-toggler .hamburger-lines .line {
  background: #bb0a21;
  border-radius: 10px;
  display: block;
  height: 4px;
  width: 100%;
}

.navbar-toggler .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-toggler .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-toggler .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}