
//fonts
h1 {
  color: #bb0a21;
  font-family: 'Poppins';
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

label{
  color: #bb0a21; 
}


.paso1 {
  background-color: #bb0a21;
}
.paso1 h3{
  color: #fff;
}

.paso1 h1{
  color: #bb0a21;
}

.btn-red{
color: #fff;
background-color: #bb0a21;

}

.btn-red:hover{
  color: #fff;
  background-color: #fcb1a6;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-selected{
  color: #fff;
  background-color: #c3bf6d;
}

.paso2 {
  background-color: #2c5530;
}

.paso2 h3 {
  color: #fff;
}


input[type="text"] {
  border-radius: 12px;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.btn {
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.table {
  th,
  td {
    vertical-align: middle;
    font-size: 0.95rem;
  }

  input[type="checkbox"] {
    margin-right: 8px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .d-flex {
    flex-direction: column ;
  }

  .table {
    font-size: 0.85rem;
  }

}
