.view-recipe {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  color: #2c5530;
  padding: 1.5rem;

  .view-img {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
  }

  .recipe-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

  .section-title {
    color: #2c5530;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }

  :host {
    display: block;
    width: 100%;
  }

  ul,
  ol {
    padding-left: 1.25rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  .nutritional-info {
    color: #c3bf6d;
    font-size: 0.95rem;
    margin-top: 1rem;
  }
}
.p-view-recipe {
  height: 100%;
  max-height: 90%;
  max-width: 100%;
  overflow-y: auto;
  scrollbar-color: rgba(255, 255, 255, 0.39);

  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
.tooltip-container {
  font-size: 24px !important;

  app-tool-tip {
  }
}

button.btn-save-recipe {
  font-size: 24px !important;
}
