<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center">
        <a class="logo text-center" routerLink="/">
          <img
            width="200"
            class="img-fluid mb-1"
            src="../../../../assets/LogoNomNom/4.png"
            alt="Logo"
          />
        </a>
      </div>
      <div class="card">
        <div class="card-header text-center">
          <h2 class="green">¿Olvidaste tu contraseña?</h2>
          <h4>Ingresa tu correo electrónico para restablecer tu contraseña</h4>
        </div>
        <div class="card-body">
          <form
            (ngSubmit)="handleForgotPassword($event)"
            autocomplete="off"
            #frm="ngForm"
          >
            <div class="form-group mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input
                class="form-control"
                id="email"
                name="email"
                #email="ngModel"
                type="text"
                placeholder="Ingrese su correo"
                [(ngModel)]="forgotForm.email"
                [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }"
                required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              />
              <div
                *ngIf="email.invalid && email.touched"
                class="invalid-feedback"
              >
                <div *ngIf="email.errors?.['required']">
                  El correo electrónico es requerido.
                </div>
                <div *ngIf="email.errors?.['pattern']">
                  Ingrese un correo electrónico válido.
                </div>
              </div>

              <h5 class="pt-3 green">Al enviar este formulario, se procederá a enviar un correo electrónico a la dirección proporcionada con un enlace que le permitirá restablecer su contraseña. Por favor, revise su bandeja de entrada y, si no encuentra el correo, verifique la carpeta de spam. </h5>
            </div>

            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-secondary w-25" (click)="navigateToLogin()">Cancelar</button>
              <button type="submit" class="btn btn-primary w-25 red">
                Enviar
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
