<div class="col-6">
  <div class="shadow-sm bg-body rounded px-4 py-4 h-100">
    <div>
      <i class="fa-solid fa-user-tie"></i>
    </div>
    <div class="border-bottom my-3">
      <label>Name:</label>
      <p>{{profileService.user$().name}}</p>
    </div>
    <div class="border-bottom my-3">
      <label>Lastname:</label>
      <p>{{profileService.user$().lastname}}</p>
    </div>
    <div class="border-bottom my-3">
      <label>email:</label>
      <p>{{profileService.user$().email}}</p>
    </div>
  </div>
</div>

<div class="prefrencias-main-container">
  <h3>Alergias</h3>
  <div class="prefrencias-second-container">
    <div *ngFor="let allergy of allergiesService.allAllergies">
      <input type="checkbox" [checked]="allergy.isSelected" [value]="allergy.id"
        (change)="onSelectedAllergy($event, allergy)" /> <label>{{ allergy.name }}</label>
    </div>
  </div>

  <h3>Preferencias Dietéticas</h3>
  <div class="prefrencias-second-container">
    <div *ngFor="let preference of dietPreferenceService.allDietPreferences">
      <input type="checkbox" [checked]="preference.isSelected" [value]="preference.id"
        (change)="onSelectedPreference($event, preference)" />

      <label>{{ preference.name }}</label>
    </div>
  </div>
</div>

<button (click)="updateSelections()">Guardar Selecciones</button>


<button (click)="logOut()">LogOut</button>