@if (!isLoading) {
  <dialog #modalDialog [class]="modalContentClass + (useCustomBackGround ? ' custom-bg' : '')">
    @if (showCloseButton) {
      <div class="modal-header-custom">
        <button type="button" (click)="hideModal()" class="close-modal" aria-label="Close modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    }

    <div class="modal-body">
      <ng-content></ng-content>
    </div>

    @if (!hideCancelOption || !hideConfirmOption) {
      <div class="modal-footer">
        @if (!hideCancelOption) {
          <button [class]="cancelButtonClass" (click)="onCancel()">
            {{ cancelAction }}
          </button>
        }
        @if (!hideConfirmOption) {
          <button [class]="confirmButtonClass" (click)="onConfirm()">
            {{ confirmAction }}
          </button>
        }
      </div>
    }
  </dialog>
} @else {
  <app-loader size="full" [contrast]="true" />
}
