.modal-header {
  display: flex;
  justify-content: end;
  border-bottom: none;
  padding-bottom: 0px;
  .close {
    background: none;
    border: none;
  }
}

.modal-content.custom-bg {
  background-color: var(--bg-color);
}

.btn-primary{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover{
  background-color: #780f1d;
}