<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="green">Nueva Contraseña</h2>
          <h4>Ingrese su nuevo acceso a la plataforma</h4>
        </div>
        <div class="card-body">
          <div class="reset-password-container">
            <h2>Restablecer Contraseña</h2>
            <form
              (ngSubmit)="handleResetPassword($event)"
              autocomplete="off"
              #frm="ngForm"
            >
              <div class="form-group">
                <label for="newPassword">Nueva Contraseña</label>
                <input
                  type="password"
                  id="newPassword"
                  name="newPassword"
                  [(ngModel)]="resetForm.password"
                  #password="ngModel"
                  class="form-control"
                  required
                  minlength="6"
                />
                <div
                  *ngIf="password.invalid && password.touched"
                  class="invalid-feedback"
                >
                  <div *ngIf="password.errors?.['required']">
                    La contraseña es requerida.
                  </div>
                  <div *ngIf="password.errors?.['minlength']">
                    Mínimo 6 caracteres.
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="confirmPassword">Confirmar Nueva Contraseña</label>
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  [(ngModel)]="resetForm.confirmPassword"
                  #confirmPassword="ngModel"
                  class="form-control"
                  required
                />
                <div
                  *ngIf="confirmPassword.invalid && confirmPassword.touched"
                  class="invalid-feedback"
                >
                  <div *ngIf="confirmPassword.errors?.['required']">
                    Confirme su contraseña.
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-between mt-4">
                <button type="button" class="btn btn-secondary w-25" (click)="navigateToLogin()">Cancelar</button>
                <button type="submit" class="btn btn-primary w-25 red small">
                  Restablecer 
                </button>
              </div>
              


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
