.btn-primary:hover{
    background-color: #8c1122;
    border-color: #8c1122;
}
.btn-primary:focus{
    outline: none;
    box-shadow: none;
    background-color: #8c1122;
    border-color: #8c1122;
}

.form-input {
    position: relative;
}

.invalid-feedback {
    position: absolute;
    margin-top: 0px;
}

.toggle-password {
    position: absolute;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #bb0a21;
}
.toggle-newpassword{
    right: 40px;
    top: 48%;
}

.toggle-confirmpassword{
    right: 40px;
    top: 73%;
}

.toggle-password:focus {
    outline: none;
}

.toggle-password i {
    transition: color 0.3s ease;
}

.toggle-password:hover i {
    color: #8c1122;
}