<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center">
        <a class="logo text-center" routerLink="/">
          <img
            width="200"
            class="img-fluid mb-1"
            src="../../../../assets/LogoNomNom/4.png"
            alt="Logo"
          />
        </a>
      </div>
      <div class="card">
        <div class="card-header text-center">
          <h2 class="green">Nueva Contraseña</h2>
          <h4>Ingrese su nuevo acceso a la plataforma</h4>
        </div>
        <div class="card-body">
          <div class="reset-password-container">
            <h2>Restablecer Contraseña</h2>
            <form
              (ngSubmit)="handleResetPassword($event)"
              autocomplete="off"
              #frm="ngForm"
            >
              <div class="form-group mb-4">
                <label for="newPassword">Nueva Contraseña</label>
                <input
                  type="password"
                  [type]="showPassword ? 'text' : 'password'"
                  id="newPassword"
                  name="newPassword"
                  [(ngModel)]="resetForm.password"
                  [ngClass]="{
                    'is-invalid': newPassword.invalid && newPassword.touched,
                    'is-valid': newPassword.valid && newPassword.touched
                    }"
                  #newPassword="ngModel"
                  class="form-control"
                  required
                  pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"

                />
                <button type="button" class="toggle-password toggle-newpassword" (click)="togglePassword()">
                  <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                </button>
                <div
                  *ngIf="newPassword.invalid && newPassword.touched"
                  class="invalid-feedback">
                  La contraseña debe tener al menos 8 caracteres, una mayúscula, un número y un carácter especial.
                </div>
              </div>

              <div class="form-group my-5">
                <label for="confirmPassword">Confirmar Nueva Contraseña</label>
                <input
                  type="password"
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  id="confirmPassword"
                  name="confirmPassword"
                  [(ngModel)]="resetForm.confirmPassword"
                  [ngClass]="{
                    'is-invalid': (confirmPassword.invalid && confirmPassword.touched) || (confirmPassword.touched && resetForm.confirmPassword !== resetForm.password),
                    'is-valid': confirmPassword.valid && resetForm.confirmPassword === resetForm.password && confirmPassword.touched
                  }"
                  
                  #confirmPassword="ngModel"
                  class="form-control"
                  required
                  pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                />
                <button type="button" class="toggle-password toggle-confirmpassword" (click)="toggleConfirmPassword()">
                  <i [class]="showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                </button>
                <div
                  *ngIf="confirmPassword.touched || resetForm.confirmPassword !== resetForm.password"
                  class="invalid-feedback">
                    Las contraseñas no coinciden.
                </div>
              </div>

              <div class="d-flex justify-content-between mt-4">
                <button type="button" class="btn btn-secondary w-25" (click)="navigateToLogin()">Cancelar</button>
                <button type="submit" class="btn btn-primary w-25 small">
                  Restablecer 
                </button>
              </div>
              


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
