.searchBar {
  max-width: 300px;
  min-width: 300px;
}

.ingredientContainer {
  flex-shrink: 0;
  width: 75% !important;
}

.chipsContainer {
  border: solid 2px var(--primary-color);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  overflow: hidden;
  padding: 6px 4px;
  width: 100% !important;
}

.chipTitle {
  border-bottom: solid 2px var(--primary-color);
  color: #2c5530;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .searchBar {
    max-width: 150px;
    min-width: 150px;
  }
}
