.poppins-title {
  font-family: 'Poppins';
  font-weight: 600;
}

.searchBar {
  max-width: 300px;
  min-width: 300px;
}

.ingredientContainer {
  flex-shrink: 0;
  width: 75% !important;
}

.chipsContainer {
  border: solid 2px var(--primary-color);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  overflow: hidden;
  padding: 6px 4px;
  width: 100% !important;
}

.chipTitle {
  border-bottom: solid 2px var(--primary-color);
  color: #2c5530;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.btn-red-rounded {
  background-color: #bb0a21; // rojo oscuro personalizado
  color: white;
  border: none;
  border-radius: 999px; // borde bien redondeado
  padding: 10px 30px;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #fcb1a6;
  }
}

.btn-green-rounded {
  background-color: #c3bf6d; 
  color: white;
  border: none;
  border-radius: 999px; 
  padding: 10px 30px;
  margin: 2%;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #daefb3;
    color: #2c5530;

  }
}


@media (max-width: 768px) {
  .searchBar {
    max-width: 150px;
    min-width: 150px;
  }
}
