@defer {
  <div class="py-4 w-75 mx-auto h-100">
    <div>
      <div class="d-flex justify-content-between align-items-center">
        <h2>{{ title }}</h2>
      </div>
    </div>

    <div row>
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="d-flex align-items-start gap-2 mb-3">
          <input
            type="text"
            [(ngModel)]="searchQuery"
            placeholder="Buscar..."
            (input)="filterIngredients()"
            class="form-control w-100 mb-3 searchBar"
          />
          <app-dropdown-category
            (categorySelected)="onCategoryChange($event)"
          ></app-dropdown-category>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <h1 class="h3 text-center text-md-start">Escoge tus ingredientes</h1>
        <app-pagination
          [service]="ingredientService"
          [category]="chosenCategory"
          [name]="searchQuery"
          (pageChange)="changePage($event)">
        </app-pagination>
      </div>
    </div>

    <div class="d-flex gap-5">
      <div class="ingredientsContainer">
        <app-ingredients
          [ingredients]="ingredientService.ingredient$()"
          [selectedIds]="selectedIngredients"
          (selectedChange)="onIngredientsChange($event)">
        </app-ingredients>
      </div>
      <div class="chipsContainer">
        <h2 class="bold chipTitle">Ingredientes seleccionados</h2>
        <app-chips
        [chips]="chips"
        (chipRemoved)="onChipRemoved($event)"
        ></app-chips>
      </div>
    </div>

    <button class="btn btn-secondary my-4 me-4" (click)="deleteIngredients()">
      Borrar los ingredientes
    </button>
    <button class="btn btn-danger my-4" (click)="saveSelectedIngredients()">
      Guardar
    </button>

    <app-modal
    #confirmModal
    [confirmAction]="'Borrar'"
    [cancelAction]="'Cancelar'"
    [confirmButtonClass]="'btn btn-danger'"
    [cancelButtonClass]="'btn btn-secondary'" <!-- <- estilo Gabriel-Chips -->
    (callConfirmationMethod)="onModalConfirm()"
    (callCancelMethod)="onModalCancel()"
    [hideCancelOption]="false">
    <h1 class="text-center">¡OJO!</h1>
    <h2 class="text-center">¿Estás seguro de que desea eliminar todos los ingredientes?</h2>
  </app-modal>


  </div>
} @loading (minimum 1.5s) {
  <app-loader></app-loader>
}