/*
.searchBar {
  max-width: 300px;
  min-width: 300px;
}

.ingredientContainer {
  width: 75% !important;
  flex-shrink: 0;
}

.chipsContainer {
  border: solid 5px var(--primary-color);
  border-radius: 25px;
  padding: 5px;
  overflow-y: hidden;
  width: 15% !important;
  flex-shrink: 0;
  max-height: 40vh;
  text-align: center;
}

.chipTitle {
  border-bottom: solid 5px var(--primary-color);
}

@media (max-width: 768px) {
  .searchBar {
    max-width: 150px;
    min-width: 150px;
  }
}
 */
.searchBar {
  max-width: 300px;
  min-width: 300px;
}

.ingredientContainer {
  width: 75% !important;
  flex-shrink: 0;
}

.chipsContainer {
  border: solid 5px var(--primary-color);
  border-radius: 25px;
  padding: 5px; // 👍 ya lo usabas y está bien
  overflow-y: hidden; // ⛔ evita scroll innecesario
  width: 15% !important;
  flex-shrink: 0;
  max-height: 40vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.chipTitle {
  border-bottom: solid 5px var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  color: #2c5530;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .searchBar {
    max-width: 150px;
    min-width: 150px;
  }
}
