<div class="ingredientContainer" #ingredientContainer>

    @for (item of ingredients; track item.id) {
        <div class="ingredientDiv" 
        [class.selected]="selectedIngredients.includes(item.id ?? null)"
        (click)="selectIngredient(item.id ?? null)">
            <img class="w-100" src="{{item.image}}" alt="img{{item.name}}">
            <h2 class="text-center">{{item.name}}</h2>
        </div>
    } @empty {
        <div class="d-flex justify-content-center align-items-center w-100">
            <p class="mb-0">No hay ingredientes</p>
        </div>
    }

    

</div>
