<div class="ingredientContainer h-100" #ingredientContainer>
  @for (item of ingredients; track item.id) {
    <div
      class="ingredientDiv"
      [class.selected]="item.id !== null && selectedIngredients.includes(item.id!) && chips.includes(item.name!)"
      (click)="item.id !== null && selectIngredient(item.id, item.name)"
      (keydown)="item.id !== null && $event.key === 'Enter' && selectIngredient(item.id, item.name)"
      tabindex="0">
      @if (!item.image) {
        <img class="w-100" src="assets/gifs/default.gif" alt="img{{ item.name }}" />
      } @else {
        <img class="w-100" [src]="item.image" alt="img{{ item.name }}" />
      }

      <h2 class="text-center">{{ item.name }}</h2>
    </div>
  } @empty {
    <div class="w-100 errorMessage col-md-6">
      <img src="../../../assets/img/sadChef.webp" alt="error" class="w-75 mb-2" />
      <h1 class="mb-0">No hay ingredientes con ese nombre ni categoria.</h1>
    </div>
  }
</div>
