//NOM NOM COLORS 
// General variables
$primary-color: #bb0a21; // Rojo oscuro
$secondary-color: #2c5530; // Verde oscuro
$accent-color: #daefb3; // Verde claro
$soft-pink: #fcb1a6; // Rosa suave
$muted-gold: #c3bf6d; // Dorado apagado

// Text Colors
$text-primary: #2c5530; // Usando el verde oscuro para texto principal
$text-secondary: #bb0a21; // Usando el rojo oscuro para resaltar texto secundario
$text-muted: #c3bf6d; // Un tono apagado para texto menos importante

// Background Colors
$background-light: #daefb3; // Fondo claro
$background-dark: #2c5530; // Fondo oscuro para contrastes
$background-accent: #fcb1a6; // Para secciones destacadas

// Border Colors
$border-color: #c3bf6d; // Color de bordes suave

// Additional UI Colors
$button-primary-bg: #bb0a21; // Fondo del botón primario
$button-primary-text: #f8f8f8; // Texto de botón en contraste
$button-secondary-bg: #2c5530; // Fondo del botón secundario
$button-secondary-text: #daefb3; // Texto del botón secundario
