.recipe-form {
    max-width: 700px;
    margin: 0 auto;
    background-color: #daefb3;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  
    h2 {
      font-weight: bold;
      color: #2c5530
      ;
    }
  
    .form-label {
      font-weight: 500;
    }
  
    .btn-primary {
      background-color: #bb0a21;
      border-color: #bb0a21;
      border-radius: 8px;
      padding: 0.5rem 1.25rem;
    }
  }
  