.login-container {
  height: 100vh;
  // background-image: url("../../../../assets/img/login/login-bg.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 20%;
  position: relative;
  &::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según necesites */
  z-index: 1;
  }
  .login-card {
  position: relative;
  z-index: 2;
  width: 50%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
  margin: 0 auto;
  background-color: #fff;
  }
  .invalid-feedback {
  position: absolute;
  margin-top: 0px;
  }
  @media screen and (min-width: 801px) and (max-width: 1500px) {
  padding: 20px 5%;
  .login-card {
  width: 60%;
  .login-main {
  padding: 0px;
  }
  }
  }
  @media screen and (max-width: 800px) {
  padding: 20px 5%;
  .login-card {
  width: 100%;
  .login-main {
  padding: 0px;
  }
  }
  }
 }

 @media screen and (max-width: 600px) {
  .logo img {
    width: 20vh; /* Ajusta según necesites */
  }
  .btn-signUp {
    width: 80%; /* Reducimos en móviles */
    max-width: 180px;
    margin: 50px; /* Ajusta el espacio interno */
  }
}


.btn-signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%; /* O puedes usar max-width */
  max-width: 100px; /* Para que no sea demasiado ancho */
  border-radius: 50px;
  padding: 10px 20px; /* Ajusta el espacio interno */
}


.btn-signUp:hover{
  background-color: #8c1122 !important;
  border-color: #8c1122 !important;
}

.form-input {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #bb0a21; /* Ajusta el color según tu diseño */
}

.toggle-password:focus {
  outline: none;
}

.toggle-password i {
  transition: color 0.3s ease;
}

.toggle-password:hover i {
  color: #8c1122; /* Color más oscuro en hover */
}

 