<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <!--<div class="text-center">
          <a class="logo text-center" routerLink="/">
            <img width="40" class="img-fluid mb-4" src="../../../../assets/icons/logo@2x.png" alt="Logo" />
          </a>
        </div>-->
        <div class="login-main">
          <form (ngSubmit)="handleSignup($event)" autocomplete="off" #frm="ngForm">
            <div class="mb-3 text-center">
              <h1>Crea una cuenta</h1>
              <!--<small style="color: #4f4f4f">
                Enter your email & password to login
              </small>-->
            </div>

            <div class="form-group px-1 mb-3">
              <label for="name" class="form-label mb-1">
                Nombre
              </label>
              <input #name="ngModel" type="text" class="form-control" id="name" name="name" placeholder=""
                [(ngModel)]="user.name" [ngClass]="{
                    'is-invalid': name.invalid && name.touched,
                    'is-valid': name.valid && name.touched
                  }" required />
              <div *ngIf="name.invalid" class="invalid-feedback">
                Ingrese un nombre válido
              </div>
            </div>

            <div class="form-group px-1 mb-3">
              <label for="lastname" class="form-label mb-1">
                Apellido
              </label>
              <input #lastname="ngModel" type="text" class="form-control" id="lastname" name="lastname"
                placeholder="" [(ngModel)]="user.lastname" [ngClass]="{
                  'is-invalid': lastname.invalid && lastname.touched,
                  'is-valid': lastname.valid && lastname.touched
                }" required />
              <div *ngIf="lastname.invalid" class="invalid-feedback">
                Ingrese un apellido válido
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="email" class="form-label mb-1">
                Correo electrónico
              </label>
              <input #email="ngModel" type="text" class="form-control" id="email" name="email"
                placeholder="ejemplo@gmail.com" [(ngModel)]="user.email" [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }" required />
              <div *ngIf="email.invalid" class="invalid-feedback">
                Ingrese un correo electrónico válido
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="password" class="form-label mb-1">Contraseña</label>
              <div class="form-input position-relative">
                <input #password="ngModel" [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" name="password"
                  placeholder="*****" [(ngModel)]="user.password" [ngClass]="{
                  'is-invalid': password.invalid && password.touched,
                  'is-valid': password.valid && password.touched
                }" required />
                <span class="position-absolute top-50 end-0 translate-middle-y passEye" (click)="toggleShowPassword()" style="cursor: pointer;">
                  <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                </span>
                <div *ngIf="password.invalid" class="invalid-feedback">
                  Ingrese una contraseña válida
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="confPassword" class="form-label mb-1">Confirmación Contraseña</label>
              <div class="form-input position-relative">
                <input #confPassword="ngModel" [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" id="confPassword" name="confPassword"
                  placeholder="*****" [(ngModel)]="confPasswordValue" [ngClass]="{
                  'is-invalid': (confPassword.invalid || confPasswordValue !== user.password) && confPassword.touched,
                  'is-valid': confPassword.valid && confPasswordValue === user.password && confPassword.touched
                }" required />
                <span class="position-absolute top-50 end-0 translate-middle-y passEye" (click)="toggleShowConfirmPassword()" style="cursor: pointer;">
                  <i [class]="showConfirmPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                </span>
                <div *ngIf="confPassword.invalid || confPasswordValue !== user.password" class="invalid-feedback">
                  Las contraseñas no coinciden
                </div>
              </div>
            </div>

            <div class="mb-2">
              <a href="/login">Ir a Inicio de Sesión</a>
            </div>

            <div class="form-group mb-4 text-center">
              <button class="btn btn-primary btn-block btn-signUp" type="submit" [disabled]="frm.invalid || confPasswordValue !== user.password">
                Crear
              </button>
              @if(signUpError) {
              <p class="text-danger">{{signUpError}}</p>
              } @else if (validSignup){
              <p class="text-success">Usuario registrado. Por favor diríjase al inicio de sesión</p>
              }
            </div>

            <div class="text-center">
              <a>O ingrese con</a>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>