<div class="min-vh-100 overflow-hidden">
  <app-topbar></app-topbar>
  <main class="overflow-auto px-2" style="height: calc(100vh - 130px); margin-top: 80px">
    <router-outlet></router-outlet>
  </main>

  <footer class="text-center text-light" style="height: 50px; background-color: #2c5530">
    <div class="text-center w-100 h-100 d-flex justify-content-center align-items-center">
      <p class="p-0 m-0 mt-1" style="font-size: 14px">&copy; 2025 NomNom Explorers. - Todos los derechos reservados.</p>
    </div>
  </footer>
</div>
