<div class="recipe-panel p-3">
  <div class="d-flex justify-content-between">
    <h2 class="section-title mb-4">Mis Recetas</h2>
    <ng-content></ng-content>
  </div>

  <!-- Aquí va el botón externo -->

  <div class="d-flex flex-column gap-4">
    <ng-container *ngFor="let recipe of itemList; trackBy: trackById">
      <div class="card h-100 shadow-sm">
        <img [src]="getCategoryImage(recipe.recipeCategory)" class="card-img-top" alt="Imagen de receta" (error)="onImageError($event)" />

        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">
            {{ (recipe.description || '').split('\n')[0] || 'Sin descripción' }}
          </p>

          <div class="text-center mt-3">
            <button class="btn cook-btn" (click)="onCook(recipe)">¡Hora de cocinar!</button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngFor="let skeleton of skeletonList">
      <div class="card h-100 shadow-sm placeholder-card w-100">
        <div class="card-img-top skeleton-img"></div>
        <div class="card-body">
          <h5 class="card-title skeleton-text w-50">&nbsp;</h5>
          <p class="card-text skeleton-text w-75"></p>
          <div class="text-center mt-3">
            <div class="btn cook-btn skeleton-btn w-50"></div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
