<div *ngIf="recipe" class="view-recipe">
    <img [src]="recipe.image_url" alt="Imagen de receta" class="img-fluid rounded mb-3 view-img" />
  
    <h3 class="recipe-title">{{ recipe.name }}</h3>
  
    <h5 class="section-title mt-4">Ingredientes</h5>
    <ul class="list-unstyled">
      <li *ngFor="let item of recipe.description?.split('\n')">{{ item }}</li>
    </ul>
  
    <h5 class="section-title mt-4">Instrucciones</h5>
    <ol>
      <li *ngFor="let step of recipe.instructions?.split('\n')">{{ step }}</li>
    </ol>
  
    <div class="nutritional-info mt-3">
      <p><strong>Tiempo de preparación:</strong> {{ recipe.preparation_time }} minutos</p>
      <p><strong>Información nutricional:</strong> {{ recipe.nutritional_info }}</p>
    </div>

    <div *ngIf="areActionsAvailable" class="d-flex justify-content-end gap-2 mt-3">
      <button class="btn btn-sm btn-outline-primary" (click)="onSave()">Guardar</button>
      <button class="btn btn-sm btn-outline-danger" (click)="onDelete()">Eliminar</button>
    </div>
    
  </div>