.login-container {
  height: 100vh;
  width: 100%;

  .login {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;

    h1 {
      font-size: 32px;
    }

    .logo-container {
      max-width: 250px;
      width: 100%;
      .logo {
        height: auto;
        width: 100%;
      }
    }
    form {
      margin: 0 auto;
      max-width: 500px;
      width: 100%;
      .input-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        .password-icon-container {
          position: relative;
          width: 100%;
          .input-login {
            border: 0;
            border-bottom: 1px solid #2c5530;
            margin-bottom: 1px;
            outline: none;
            width: 100%;
            &:focus {
              border-bottom: 2px solid #2c5530;
              margin-bottom: 0;
            }
          }
          .passEye {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        .label-input {
        }

        .input-login {
          border: 0;
          border-bottom: 1px solid #2c5530;
          margin-bottom: 1px;
          outline: none;
          width: 100%;
          &:focus {
            border-bottom: 2px solid #2c5530;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.btn-signIn {
  border-radius: 50px !important;
  width: 20%;
}

.btn-signIn:hover {
  background-color: #8c1122 !important;
  border-color: #8c1122 !important;
}

.passEye {
  margin-right: 2vw;
}

.btn-google {
  background-color: #fff;
  padding: 6px 12px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  &:hover {
    border-color: #8c1122 !important;
  }
}
