<section class="login-container">
  <div class="login">
    <a class="logo-container" routerLink="/">
      <img width="250" class="img-fluid logo" src="../../../../assets/icons/LogoNomNom.png" alt="Logo" />
    </a>
    <h1 class="text-center mb-4" style="color: #2c5530; font-weight: bold">Inicio de Sesión</h1>

    <!-- Login tradicional -->
    <app-login-form></app-login-form>

    <!-- Separador -->
    <div class="text-center mt-4">
      <p class="p-0 m-0">O <br />inicia sesión con</p>
    </div>

    <!-- Botón Google separado -->
    <app-login-google-button></app-login-google-button>
  </div>
</section>
