<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div class="text-center">
          <a class="logo text-center" routerLink="/">
            <img width="200" class="img-fluid mb-1" src="../../../../assets/LogoNomNom/4.png" alt="Logo" />
          </a>
        </div>
        <div class="login-main">
          <form (ngSubmit)="handleLogin($event)" autocomplete="off" #frm="ngForm">
            <div class="mb-4">
              <h1 class="text-center" style="color: #2c5530; font-weight: bold;">Inicio de Sesión</h1>
              <!--<small style="color: #4f4f4f">
                Enter your email & password to login
              </small>-->
            </div>

            <div class="form-group mb-4">
              <label for="email" class="form-label mb-2">
                Correo Electrónico
              </label>
              <input #email="ngModel" type="text" class="form-control" id="email" name="email"
                placeholder="ejemplo@gmail.com" [(ngModel)]="loginForm.email" [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }" required />
              <div *ngIf="email.invalid" class="invalid-feedback">
                Ingrese un correo electrónico válido
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="password" class="form-label mb-2">Contraseña</label>
              <div class="form-input position-relative">
                <input #password="ngModel" [type]="showPassword ? 'text' : 'password'" class="form-control"
                  id="password" name="password" placeholder="Entra al menos 8 caracteres"
                  [(ngModel)]="loginForm.password" [ngClass]="{
                  'is-invalid': password.invalid && password.touched,
                  'is-valid': password.valid && password.touched
                }" required />
                <span class="position-absolute top-50 end-0 translate-middle-y passEye" (click)="toggleShowPassword()"
                  style="cursor: pointer;">
                  <i [class]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                </span>
                <div *ngIf="password.invalid" class="invalid-feedback">
                  Ingrese una contraseña válida
                </div>
              </div>
            </div>

            <div class="d-flex small">
              <a class="light-green text-decoration-none hrefA" href="/signup">Registro de sesión</a>
              <a class="ms-auto light-green text-decoration-none hrefA" href="/forgotPassword">Olvidé Contraseña</a>
            </div>

            <div class="form-group mb-4 text-center">
              <button class="btn btn-primary btn-signIn red-bg" type="submit">
                Inicio
              </button>
              @if(loginError) {
              <p class="text-danger">{{loginError}}</p>
              }
            </div>

            <div class="text-center mb-1">
              <a class="light-green text-decoration-none" href="">O ingrese con
                <br>
                <img width="40" class="img-fluid" src="../../../../assets/icons/google.png" alt="Logo" />
              </a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>