.my-account-container{
  width: 100%;
  max-width: 200px !important;
  position: relative;
}
.dropdown-custom{
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important;
}
.dropdown-custom:hover{
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important;
}
.dropdown-custom:focus{
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important;
}
