.chip{
    background-color: var(--secondary-color) !important;
    transition: background-color 0.3s ease-in-out;
    width: 8vw;
    margin-bottom: 5px;
}

.chip-hovered {
    background-color: var(--primary-color) !important;
  }